@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Montserrat:400,700,900&subset=latin-ext');
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

a {
  color: #F56520;
}

a:hover {
  text-decoration: none;
}

.home-headline-setting {
  
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.content-block {
  margin: 3.5rem auto;
}
ul {
  list-style: none;
}
.navigation {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #6091C0;
}
@media (min-width: 768px){
  .navigation{
    height: 50px;
    background-color: #1F609F;
  }
}
.navigation a {
  padding: 12.8px 16px;
}
.navigation_mobile-button {
  display: block;
  position: relative;
  background-color: #A03400;
  height: 50px;
  width: 50px;
}
@media (min-width: 768px){
  .navigation_mobile-button{
    display: none;
  }
}
.navigation_mobile-button_upper-line {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  left: 0;
  margin: auto;
  width: 30px;
  height: 3px;
  background-color: #fff;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.navigation_mobile-button_upper-line--x {
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 37px;
  left: 12px;
}
.navigation_mobile-button_middle-line {
  content: "";
  opacity: 1;
  transition: opacity .5s;
  position: absolute;
  top: 23px;
  right: 0;
  left: 0;
  margin: auto;
  width: 30px;
  height: 3px;
  background-color: #fff;
}
.navigation_mobile-button_middle-line--x {
  opacity: 0;
}
.navigation_mobile-button_bottom-line {
  content: "";
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  margin: auto;
  width: 30px;
  height: 3px;
  background-color: #fff;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.navigation_mobile-button_bottom-line--x {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 37px;
  left: 12px;
}
.navigation_wrapper {
  display: none;
}
@media (min-width: 768px){
  .navigation_wrapper{
    display: block;
  }
}
.navigation_wrapper--show {
  display: block;
}
.navigation_mobile-button:active {}
.navigation a {
  width: 100%;
  float: left;
  text-align: center;
}
@media (min-width: 768px){
  .navigation a{
    width: auto;
  }
}
.navigation_dropdown {
  display: block;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
}
@media (min-width: 768px){
  .navigation_dropdown{
    width: auto;
    text-align: left;
  }
}
.navigation_dropdown_sub {
  border: none;
  outline: none;
  color: white;
  padding: 12.8px 16px;
  background-color: inherit;
}
.navigation_dropdown_sub-menu {
  // position: absolute;
  height: 0;
  width: 100%;
  z-index: 1;
}
@media (min-width: 768px){
  .navigation_dropdown_sub-menu{
    min-width: 160px;
  }
}
.navigation_dropdown_sub-menu a {
  height: 0;
  float: none;
  color: black;
  text-align: center;
  background-color: #1F609F;
  display:block;
  padding: 0;
}
.navigation_dropdown_sub-menu a:hover {
  background-color: #F56520;
}
@media (min-width: 768px){
  .navigation_dropdown_sub-menu a{
    width: 200px;
  }
}
.navigation_dropdown:hover .navigation_dropdown_sub-menu {
  height:auto;
}
.navigation_dropdown:hover .navigation_dropdown_sub-menu a {
  border-bottom: 2px solid #073868;
  padding: 12px 16px;
  height: 48.2px;
  transition: height .5s ease-out,padding .5s;
}
.navigation--hover-color:hover {
  background-color: #F56520;
}
.header {
  background: url('https://wallpaperscraft.com/image/sound_recording_studio_equipment_92309_3840x2160.jpg') center no-repeat;
  background-size: cover;
  color: white;
  padding: 10rem 2rem;
  margin-bottom: 2rem;
  font-family: 'Montserrat', sans-serif;
}
.header_title, .header_lead, .header_sublead {
  text-align: center;
}
.header_title {
  font-size: 2rem;
}
.header_lead, .header_sublead {
  letter-spacing: 1px;
}

  @media (min-width: 768px){
  .header{
    margin-bottom: 5rem;
  }
  .header_title, .header_lead, .header_sublead{
    text-align: left;
  }
}
.latest-monitor {
  -webkit-column-count: 1;
          column-count: 1;
}
@media (min-width: 768px){
  .latest-monitor{
    -webkit-column-count: 1;
            column-count: 1;
  }
}
.latest-monitor_card-wrapper {
  margin-top: 30px;
}
@media (max-width: 575.99px){
  .latest-monitor_card{
    margin-top: .5rem;
  }
}
@media (min-width: 576px){
  .latest-monitor_card{
    margin-right: 2px !important;
    margin-left: 2px !important;
    margin-top: .5rem;
  }
}
.latest-monitor_card_img {
  display: block;
  margin: 0 auto;
  max-width: 120px;
}
.latest-monitor_card-block_title {
  text-align: center;
}
.latest-monitor_card-block_footer {
  background-color: white;
}
footer {
  background-color: #1F609F;
  width: 100%;
  font-family: 'Lato', sans-serif;

}

.footer {
  font-family: 'Lato', sans-serif;
}

.footer_contact {
  line-height: 1.6rem;
}

.footer_title {
  text-align: center;
  color: #073868;
  text-transform: uppercase;
  font-weight: bold;
}

.footer_content, .footer_list {
  display: block;
  text-align: center;
  line-height: 2.5rem;
  padding: 0;
}

@media (min-width: 768px){}

.footer_social {
  text-align: center;
}

.footer_social i {
  color: #F59E20;
  display: inline-block;
  font-size: 1.5rem;
  padding: .8rem;
}

.footer_copyright {
  text-align: center;
}
.monitors {
  -webkit-column-count: 6;
          column-count: 6;
}
.monitors_element img {
  display: block;
  max-width: 200px;
  margin: 0 auto;
}
.monitors_headline {
  margin-top: 5rem;
  width: 100%;
}
.form_margin {
  margin: 10rem auto;
}
.dashboard_monitors {
  -webkit-column-count: 4;
          column-count: 4;
}
.monitor_button {
  padding: .2rem .8rem;
  border-radius: 0;
}
.monitor_edit {
  background-color: #1F609F;
}
.show_monitor_img {
  display: block;
  width: 200px;
  margin: 0 auto;
}
@media (min-width: 576px){
  .show_monitor_img{
    width: 250px;
  }
}
@media (min-width: 768px){
  .show_monitor_img{
    width: 300px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    position: absolute;
  }
}
@media (min-width: 992px){
  .show_monitor_img{
    width: 350px;
  }
}
.show_monitor_body {
  margin-top: 3rem;
}
.show_monitor_body_desc {
  line-height: 2rem;
}
