<footer>
  <div class="container footer">
    <div class="row pt-5 pb-5">
      <div class="col-12 col-md-3">
        <address>
          <div class="footer_contact">
            <h4 class="footer_title">Contact</h4>
            <hr>

            <div class="footer_content">
              <a href="#">STUDIO MONITORS LOVERS</a>
              <br> ul. lorem ipsum 5, Piaseczno, Poland
              <br>
              <a href="mailto:mail@smlovers.com"> mail@smlovers.com</a>
              <div class="footer_social social-icons mt-3">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fa fa-google"></i>
                </a>
                <a href="#">
                  <i class="fa fa-soundcloud"></i>
                </a>
              </div>
            </div>
          </div>
        </address>
      </div>
      <div class="col-12 col-md-3">
        <h4 class="footer_title">Services</h4>
        <hr>
        <ul class="footer_list">
          <li class="">
            <a href="">Sell Monitors</a>
          </li>
          <li class="">
            <a href="">Buy Monitors</a>
          </li>
          <li class="">
            <a href="">Affiliate Marketing</a>
          </li>
          <li class="">
            <a href="">Browse Monitors</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-3">
        <h4 class="footer_title">Studio Monitors</h4>
        <hr>
        <a href="#">Studio Monitors</a>
      </div>
      <div class="col-12 col-md-3">
        <h4 class="footer_title">Newsletter</h4>
        <hr>
        <a href="#">Newsletter</a>
      </div>
    </div>
    <div class="row">
      <div class="col footer_copyright">
        <p>Copyright © 2018 Studio Monitors Lovers. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>