<div class="header jumbotron">
  <h1 class="header_title">Find your ideal studio monitor</h1>
  <p class="header_lead lead">Lorem ipsum dolores studiores monitoris idealis.</p>
  <hr class="my-4">
  <p class="header_sublead">search through thousands of monitors and find the one for you.</p>
</div>