* {
  font-family: $mont-font;
  box-sizing: border-box;
}

a {
  color: $primary-color;
  
  &:hover {
    text-decoration: none;
    
  }
}

.home-headline-setting {
  
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.content-block {
  margin: 3.5rem auto;
}
ul {
  list-style: none;
}