.header {
  background: url('https://wallpaperscraft.com/image/sound_recording_studio_equipment_92309_3840x2160.jpg') center no-repeat;
  background-size: cover;
  color: white;
  padding: 10rem 2rem;
  margin-bottom: 2rem;
  font-family: $mont-font;

  &_title, &_lead, &_sublead {
    text-align: center;
  }
  &_title {
    font-size: 2rem;
  }
  &_lead, &_sublead {
    letter-spacing: 1px;
  }
}

  @mixin md-up {
    .header {
      margin-bottom: 5rem;
      
      &_title, &_lead, &_sublead {
      text-align: left;
      }
    }
  }