.monitors {
  column-count: 1;
  @mixin sm-up {
    column-count: 2;
  }
  @mixin md-up {
    column-count: 3;
  }
  @mixin lg-up {
    column-count: 4;
  }
  @mixin xl-up {
    column-count: 5;
  }

  &_element img {
    display: block;
    margin: 0 auto;
  }


}